/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}